.image-div{
    width: 50%;
}

.product-div{
    display: flex;
    width: 70%;
    padding: 5px;
    border: 1px solid #2C2C2C;
    border-radius: 3px;
    flex-flow: row nowrap;
}

.info-div{
    display: flex;
    flex-flow: column nowrap ;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.product-text {
    color:#2C2C2C
}

.add-button{
    width:200px
}


.quantity-select select {
    width:200px;
  }
