*{
    color: #FFFFFF;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.image-div{
    width: 50%;
}

.product-div{
    display: flex;
    width: 70%;
    padding: 5px;
    border: 1px solid #2C2C2C;
    border-radius: 3px;
    flex-flow: row nowrap;
}

.info-div{
    display: flex;
    flex-flow: column nowrap ;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.product-name, .product-text {
    color:#2C2C2C
}

.product-name {
    font-size: 2em;
}

.add-button{
    width:200px
}


.quantity-select select {
    background-color: #2C2C2C;
    width:200px;
    border: none;
    font-size: 20px;
    outline: none;
  }
