<div class="container">
    <div class="product-div" *ngIf="product">
        <div class="image-div">
            <img src="{{product.url}}" alt="{{product.name}}">
        </div>
        <div class="info-div">
            <h3>{{ product.name }}</h3>
            <h4>{{ product.price | currency }}</h4>
            <p>{{ product.description }}</p>
            <form (ngSubmit)="addToCart(product)">
                <select [ngModelOptions]="{standalone: true}" [(ngModel)]="product.quantity">
                    <option [ngValue]="undefined" disabled>Select An Option</option>
                    <option [value]="o" *ngFor="let o of options">{{o}}</option>
                </select>            
                <button type="submit" class="add-button">ADD TO CART</button>
            </form>
        </div>
    </div>
</div>