<div class="container">
    <div class="product-div" *ngIf="product">
        <div class="image-div">
            <img src="{{product.url}}" alt="{{product.name}}">
        </div>
        <div class="info-div">
            <h3 class="product-title">{{ product.name }}</h3>
            <h4 class="product-title">{{ product.price | currency }}</h4>
            <p class="product-text">{{ product.description }}</p>
            <form (ngSubmit)="addToCart(product)">
                <div class="quantity-select">
                    <select [ngModelOptions]="{standalone: true}" [(ngModel)]="this.quantity">
                        <option [ngValue]="undefined" disabled>Select An Option</option>
                        <option [value]="o" *ngFor="let o of options">{{o}}</option>
                    </select>            
                </div>
                <button type="submit" class="add-button">ADD TO CART</button>
            </form>
            <a class="product-text" [routerLink]="['/']">← Back to product list</a>
        </div>
    </div>
</div>