*{
    color: #2C2C2C;
}

.form-div{
    width: 30%;
}

.cart-div{
    width: 20%;
    border: 1px #C4C4C4 solid;
    margin-left: 2%;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px #C4C4C4 solid;
}

.remove-button{
    background-color: #C4C4C4;
    border: none;
    color: white;
    text-decoration: none;
    width: 40px;
    padding: 10px 10px;
}

.remove-button:hover{
    background-color: #2C2C2C;
    border: none;
    color: white;
    text-decoration: none;
}


