*{
   color: #FFFFFF;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.product-div{
    width: 20%;
    margin: 20px 70px;
    border: 1px solid #2C2C2C;
    border-radius: 3px;
}

.product-title, .product-price{
    font-size: 2em;
    color: #2C2C2C;
}

.info-div{
    display: flex;
    flex-flow: row ;
    align-items: center;
    justify-content: space-around;
}

  .quantity-select select {
    background-color: #2C2C2C;
    width: 100%;
    border: none;
    font-size: 20px;
    outline: none;
  }
