.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.product-div{
    width: 20%;
    margin: 20px 70px;
    border: 1px solid #2C2C2C;
    border-radius: 3px;
}

.product-title{
    font-size: 2em;
}

.info-div{
    display: flex;
    flex-flow: row ;
    align-items: center;
    justify-content: space-around;
}

.add-button{
    background-color: #C4C4C4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.add-button:hover{
    background-color: #2C2C2C;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}