<div class="container">  
    <div class="product-div" *ngFor="let product of products">
        <img src="{{product.url}}" alt="{{product.name}}">
        <div class="info-div">
        <a  class="product-title"
            [title]="product.name + ' details'"
            [routerLink]="['/products', product.id]">{{ product.name }}</a>
            <div></div>
            <span class="product-price">{{product.price | currency}}</span>
        </div>
        <form (ngSubmit)="addToCart(product)">
            <div class="quantity-select">
                <select [ngModelOptions]="{standalone: true}" [(ngModel)]="product.quantity">
                    <option [ngValue]="undefined" disabled>Select An Option</option>
                    <option [value]="o" *ngFor="let o of options">{{o}}</option>
                </select>            
            </div>
            <button type="submit" class="add-button">ADD TO CART</button>
        </form>
    </div>
</div>
