<div class="form-div">
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="fullName">Name</label>
        <input id="fullName" type="text" formControlName="fullName" placeholder="minimum 4 digit">
        <p class="alert" *ngIf="checkoutForm.get('fullName')?.errors?.['minlength'] ">Name is too short(min 4 digit)</p>
      </div>
      <div>
        <label for="address">Address</label>
        <input id="address" type="text" formControlName="address" placeholder="minimum 6 digit">
        <p class="alert" *ngIf="checkoutForm.get('address')?.errors?.['minlength'] ">Address is too short(min 6 digit)</p>
      </div>
      <div>
        <label for="creditCardNumber">Credit Card Number</label>
        <input id="creditCardNumber" type="text" formControlName="creditCardNumber" placeholder="16-digit credit card">
        <p class="alert" *ngIf="checkoutForm.get('creditCardNumber')?.errors?.['maxlength'] ">Credit Card Number is too long(has to be 16-digit long)</p>
        <p class="alert" *ngIf="checkoutForm.get('creditCardNumber')?.errors?.['minlength'] ">Credit Card Number is too short(has to be 16-digit long)</p>
      </div>
      <p class="alert" *ngIf="!checkoutForm.valid">There are missing or invalid information</p>
      <button class="add-button" type="submit" [disabled]="!checkoutForm.valid">Purchase</button>
  </form>
  </div>