*{
    color: #2C2C2C;
}

.form-div{
    width: 100%;
}

.alert {
    color: #ff0000;
}

.spacing {
    color: #FFFFFF;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px #C4C4C4 solid;
  }