<div class="form-div">
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

      <div>
        <label>Name</label>
        <input type="text" formControlName="fullName" placeholder="minimum 4 digit">
        <span class="alert" *ngIf="checkoutForm.get('fullName')?.invalid &&
                                checkoutForm.get('fullName')?.touched"
                                >Name is invalid(min 4 digit)</span><span class="spacing">.</span>
      </div>

      <div>
        <label>Address</label>
        <input type="text" formControlName="address" placeholder="minimum 6 digit">
        <span class="alert" *ngIf="checkoutForm.get('address')?.invalid &&
                                checkoutForm.get('address')?.touched"
                                >Address is invalid(min 6 digit)</span><span class="spacing">.</span>
      </div>

      <div>
        <label>Credit Card Number</label>
        <input type="text" formControlName="creditCardNumber" placeholder="16-digit credit card">
        <span class="alert" *ngIf="checkoutForm.get('creditCardNumber')?.invalid &&
                                checkoutForm.get('creditCardNumber')?.touched"
                                >Credit Card Number is invalid(16-digit long and only numbers)</span><span class="spacing">.</span>
      </div>

      <button class="add-button" type="submit" [disabled]="!checkoutForm.valid">Purchase</button>
  </form>
  </div>